{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h1>{{ profile.username }}'s profile</h2>
    <div class="container-fluid p-3 my-3">
        {% if user.is_authenticated %}
            {% if user.username != profile.username %}
                {% if not_following == "True" %}
                    <form action="/follow" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="follow" value="follow">
                        <input type="hidden" name="target" value="{{ profile.id }}">
                        <input type="submit" class="btn btn-outline-primary" value="Follow">
                    </form>
                {% else %}
                    <form action="/follow" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="unfollow" value="unfollow">
                        <input type="hidden" name="target" value="{{ profile.id }}">
                        <input type="submit" class="btn btn-primary" value="Unfollow">
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
        <p>Following: {{ following }}</p>
        <p>Followers: {{ followers }}</p>
    </div>
    <h1>Posts</h1>
    {% for post in posts %}
    
        <div class="container-fluid p-3 my-3 border">

            <div>
                <h3>{{ post.user }}</h3>
            </div>

            <div class="post-view" id="post-view-{{ post.id }}">
                {% if user == post.user %}
                    <a href="" class="edit" data-id="{{ post.id }}">Edit</a>
                {% endif %}
                <p id="body-{{ post.id }}">{{ post.body }}</p>
                <p>{{ post.timestamp }}</p>
                <p>
                    {% if user.is_authenticated %}
                        {% if post.is_liked %}
                            <i class="fa fa-heart like" data-id="{{ post.id }}" id="like-{{ post.id }}" style="color:red;"></i>
                            <input type="hidden" id="like-status-{{ post.id }}" value="true">
                        {% else %}
                            <i class="fa fa-heart-o like" data-id="{{ post.id }}" id="like-{{ post.id }}" style="color:red;"></i>
                            <input type="hidden" id="like-status-{{ post.id }}" value="false">
                        {% endif %} 
                    {% endif %}
                    <strong id="count-{{ post.id }}">{{ post.likecount }}</strong> Likes
                </p>
                <p>
                    {% if user.is_authenticated %}
                    <span><a href="" class="comment" data-id="{{ post.id }}">Comment</a></span><span> -</span>
                    {% endif %}
                    <span><a href="" class="showcomments" data-id="{{ post.id }}">Show comments</a></span>
                </p>
            </div>

            <div class="post-edit" id="post-edit-{{ post.id }}">                 
            </div>

            <div class="post-comment" id="post-comment-{{ post.id }}">
            </div>

            <div class="comment-view" id="comment-view-{{ post.id }}">
            </div>

        </div>
    {% endfor %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/postdivs.js' %}"></script>
{% endblock %}