{% extends "network/layout.html" %}

{% block body %}
    <h1>{{user.username}}'s profile</h2>
    <div class="container-fluid p-3 my-3"></div>
        {% if not_following %}
            <button class="btn btn-outline-primary" id="follow">Follow</button>
        {% else %}
            <button class="btn btn-primary" id="unfollow">Follow</button>
        {% endif %}
        <p>Following: {{}}</p>
        <p>Followers: {{}}</p>
    </div>
    <h1>Posts</h1>
    {% for post in posts %}
        <div class="container-fluid p-3 my-3 border">

            <div>
                <h3>{{post.user}}</h3>
            </div>

            <div class="post-view" id="post-view-{{post.id}}">
                {% if user == post.user %}
                    <a href="" id="edit" data-id="{{post.id}}">Edit</a>
                {% endif %}
                <p>{{post.body}}</p>
                <p>{{post.timestamp}}</p>
                <p><i class="fa fa-heart" style="color:red;"></i>{{post.likes}}</p>
                <p>
                    {% if user.is_authenticated %}
                    <span><a href="" id="comment" data-id="{{post.id}}">Comment</a></span><span> -</span>
                    {% endif %}
                    <span><a href="" id="show-comments" data-id="{{post.id}}">Show comments</a></span>
                </p>
            </div>

            {% if user == post.user %}
                <div class="post-edit" id="post-edit-{{post.id}}">
                    <form action="/edit" method="post">
                        <div class="form-group">
                            <p>Edit this post:</p>
                            {% csrf_token %}
                            <input type="hidden" name="post_id" id="post_id" value="{{post.id}}">
                            <textarea class="form-control" name="editbody" id="editbody">{{post.body}}</textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Save">
                        </div>
                    </form>
                </div>
            {% endif %}
            <div class="post-comment" id="post-comment-{{post.id}}">

            </div>

            <div class="comment-view" id="comment-view-{{post.id}}">

            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/postdivs.js' %}"></script>
{% endblock %}