body {
    padding: 10px;
}

.wrapper {
    margin: auto;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    position: absolute;
}

.wrap-item {
    padding: 20px;
    border: solid lightgray;
    width: 350px;
    height: 500px;
    position: relative;
}

.wrap-title {
    text-align: center;
}

.wrap-image {
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 300px;
    max-height: 300px;
}

.wrap-text {
    position: absolute;
    bottom: 0px;
}