.links {
    height: 50px;
    padding: 20px;
    text-align: right;
    font-style: normal;
    font-family: Verdana;
    font-size: 16px;
}

label {
    font-family: Verdana;
}

a {
    text-decoration: none;
}

.advanced-title {
    padding: 10px;
    font-family: Verdana;
    font-size: 20px;
    color: red;
}
.logo {
    padding: 20px;
    width: 500px;
    height: 100px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;

    text-align: center;
    vertical-align: bottom;
    font-family: Verdana;
    font-weight: normal;
    font-size: 72px;
}

.nav-bar {
    padding: 20px;
    padding-left: 10px;
    width: auto;
    height: 30px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    background-color: whitesmoke;
    text-align: left;
    vertical-align: center;
    font-family: Verdana;
    font-weight: normal;
    font-size: 30px;
}

.form-box {
    text-align: center;
    padding: 20px;
    width: 500px;
    height: 100px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.form-advanced {
    text-align: left;
    padding: 20px;
    width: 1000px;
    height: 100px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.form-text-round {
    font-size: 20px;
    border-radius: 50px;
    border-width: 1px;
    border-color: lightslategray;
    width: 300px;
    height: 30px;
}

.form-text-edge {
    font-size: 20px;
    border-width: 1px;
    border-color: lightslategray;
    width: 300px;
    height: 30px;
}

.search-button{
    padding: 10px 10px;
    background-color: royalblue;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
}