{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Category: {{category.category}}</h2>
    {%for listing in listings%}
        <div>
            {% if listing.activity == "open" %}
                <a href="{% url 'listing' listing.id %}"><h4>{{listing.title}}</h4></a>
                <img src="{{listing.image}}" style="max-width:300px; max-height:300px">
                <p>Description: {{listing.description}}</p>
                <p>Current price: ${{listing.current_bid}}
            {% endif %}
        </div>
        {% empty %}
        <p>No listings in this category yet</p>
    {% endfor %}
{% endblock %}