{% extends "auctions/layout.html" %}

{% block body %}
    <h1> Create new auction listing </h1>

    <form action="/create" method="post">
        {% csrf_token %}
        <select name="select_category">
            {% for category in categories %}
                <option value="{{category.id}}">{{category}}</option>
            {% endfor %}
        </select>
        <input type="text" name="title" id="title" autocomplete="off" placeholder="Title">
        <input type="url" name="image" id="image" autocomplete="off" placeholder="Image url">
        <textarea name="description" id="description" autocomplete="off" placeholder="Brief description of your product..."></textarea>
        <small>Max. 200 characters</small>
        <input type="numeric" name="starting_bid" id="starting_bid" autocomplete="off" placeholder="Starting bid">
        <input type="submit" value="Create auction">
    </form>
{% endblock %}