{% extends "auctions/layout.html" %}

{% block title%}{{listing.title}}{% endblock %}

{% block body %}

    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message | safe }}
        </div>
    {% endfor %}

    {% if listing.activity == "open" %}
        <h1>{{listing.title}}</h1>
    {% else %}
        <h1>{{listing.title}} (Closed)</h1>
    {% endif %}
    {% if user.is_authenticated %}
        <form action="/watchlist" method="post">
            {% csrf_token %}
            <input type="hidden" name="add" id="add" value="add">
            <input type="hidden" name="add_listing_id" id="add_listing_id" value="{{listing.id}}">
            <input type="submit" value="Watchlist +">
        </form>
        {% if owner == "yes" %}
            {% if listing.activity == "open" %}
                <form action="/close" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="close" id="close" value="closed">
                    <input type="hidden" name="close_listing_id" id="close_listing_id" value="{{listing.id}}">
                    <input type="submit" value="Close">
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
    
    <p>Auctioner: {{listing.creator}}</p>
    <p>Created on: {{listing.listing_time}}</p>
    <div>
        <img src="{{listing.image}}" style="max-width:600px; max-height:600px">
        <p>Description: {{listing.description}}</p>
        <p>Current price: ${{listing.current_bid}}</p>
        <div>
            {% if user.is_authenticated %}
                {% if listing.activity == "open" %}
                    <form action="/bid" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="bid_listing_id" id="bid_listing_id" value="{{listing.id}}">
                        <label for="new_bid">Place a new bid</label>
                        <input type="numeric" name="new_bid" id="new_bid" autocomplete="off">
                        <input type="submit" value="Bid">
                    </form>
                {% else %}    
                    <p>Listing closed: {{bids.bidder}} won the auction with a bid of ${{listing.current_bid}}</p>
                {% endif %}
            {% else %}
                <p>To place a new bid you must first <a href="{% url 'login' %}">Log in</a></p>
            {% endif %}
        </div>
    </div>
    <h2>Comments</h2>  
    {% for comment in comments %}
        <div>
            <p>{{comment.commenter}} commented on {{comment.comment_time}}:</p>
            <p>{{comment.comment}}<p>
        </div>
        {% empty %}
        <p>No comments yet</p>
    {% endfor %}
    <div>
        {% if user.is_authenticated %}
            <form action="/comment" method="post">
                {% csrf_token %}
                <input type="hidden" name="com_listing_id" id="com_listing_id" value="{{listing.id}}">
                <label for="comment">Leave a comment</label>
                <textarea name="comment" id="comment" autocomplete="off" placeholder="Tell others your experience with this product"></textarea>
                <small>Max. 100 characters</small>
                <input type="submit" value="Send">
            </form>
        {% else %}
            <p>To comment you must first <a href="{% url 'login' %}">Log in</a></p>
        {% endif %}
{% endblock %}