{% extends "odeon/layout.html" %}

{% load static %}

{% block title %}Index{% endblock %}

{% block body %}
    <script src="{% static 'odeon/alerts.js' %}"></script>

    <div>
        <center>Make an announcement as a tutor or as a student:</center>
        <br>
        <img src="{% static 'odeon/sketch3.png' %}" style="max-width:700px"><br>
        <br>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='/publish';">Publish</button>
    </div>
    <br>
    <div>
        {% if announcements == "None" %}
            <center>You don't have any announcement yet</center>
        {% else %}
            <center>Your announcements:</center>
            <br>
            <table class="table table-sm table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Title</th>
                        <th>Role</th>
                        <th>Date</th>
                        <th>Settings</th>                    
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for announcement in announcements %}
                            <tr>
                                <td>{{ announcement.title }}</td>
                                <td>{{ announcement.role }}</td>
                                <td>{{ announcement.timestamp }}</td>
                                
                                <form id="deleteform-{{ announcement.id }}" action="/delete" method="post" onsubmit="event.preventDefault(); confirm_deletion({{ announcement.id}});">
                                    {% csrf_token %}
                                    <td>
                                        <input type="hidden" name="announcement_id" value="{{ announcement.id }}">
                                        <button type="submit" class="btn btn-dark"><i class="fa fa-trash-o"></i></button>
                                    </td>
                                </form>
                                                        
                            </tr>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        {% endif %}
    </div>
    

{% endblock %}