{% extends "odeon/layout.html" %}

{% load static %}

{% block title %}
    Publish
{% endblock %}

{% block body %}
    <script src="{% static 'odeon/alerts.js' %}"></script>
    <script src="{% static 'odeon/select.js' %}"></script>

    <label for="select">Make an announcement as:</label>
    <select class="form-control" id="select" name="select">
        <option value="empty">Choose one</option>
        <option value="tutor">Tutor</option>
        <option value="student">Student</option>
    </select>
    <br>
    <br>
    <div id="tutor">
        <form name="tutor" id="tutor" class="acc-form" action="/publish" method="post" onsubmit="return validate_tutor()" required>
            {% csrf_token %}
            <input type="hidden" name="role" value="tutor">
            <div>
                <label for="select">Wich subject can you teach?:</label>
                <select class="form-control" name="subject" id="t_subject">
                    <option value="empty">Subject</option>
                    {% for subject in subjects %}
                        <option value="{{ subject.subject }}">{{ subject.subject }}</option>
                    {% endfor %}
                </select>
            </div>
            <label for="text">Title / Sub-subject:</label>
            <input type="text" class="form-control" autocomplete="off" name="title" id="t_title" placeholder="Example: Calculus Online">
            <textarea class="form-control" autocomplete="off" style="height:200px; width:410px" maxlength=250 name="body" id="t_body" placeholder="Brief description"></textarea>
            <small>Max. 300 caracteres</small>
            <br>
            <br>
            <label for="text">Price: $</label>
            <input type="number" step=".01" class="form-control" autocomplete="off" name="price" id="t_price" placeholder="Value per hour">
            <br>
            <br>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="number">Contact 1:</label>
                    <input type="text" class="form-control" autocomplete="off" name="phone" id="t_phone" placeholder="Phone number">
                </div>
                <div class="form-group col-md-6">
                    <label for="text">Contact 2:</label>
                    <input type="text" class="form-control" autocomplete="off" name="email" id="t_email" placeholder="e-mail"  value="{{ user.email }}">
                </div>
            </div>
            <button type="submit" class="btn btn-dark">Publish</button>
        </form>
    </div>
    <div id="student">
        <form name="student" id="student" class="acc-form" action="/publish" method="post" onsubmit="return validate_student()" required>
            {% csrf_token %}
            <input type="hidden" name="role" value="student">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <select class="form-control" name="subject" id="s_subject">
                        <option value="empty">Subject</option>
                        {% for subject in subjects %}
                            <option value="{{ subject.subject }}">{{ subject.subject }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" autocomplete="off" name="title" id="s_title" placeholder="Topics">
                </div>
            </div>
            <textarea class="form-control" autocomplete="off" style="height:200px; width:410px" maxlength=250 name="body" id="s_body" placeholder="Brief description"></textarea>
            <small>Max. 300 caracteres</small>
            <br>
            <br>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="number">Contact 1:</label>
                    <input type="text" class="form-control" autocomplete="off" name="phone" id="s_phone" placeholder="Phone number">
                </div>
                <div class="form-group col-md-6">
                    <label for="text">Contact 2:</label>
                    <input type="text" class="form-control" autocomplete="off" name="email" id="s_email" placeholder="e-mail" value="{{ user.email }}">
                </div>
            </div>
            <button type="submit" class="btn btn-dark">Publish</button>
        </form>
    </div>

{% endblock %}