{% extends "odeon/layout.html" %}

{% load static %}

{% block title %}
    Tutors
{% endblock %}

{% block body %}
    <script src="{% static 'odeon/announcements.js' %}"></script>

    {% for announcement in announcements %}
        <div class="container bg-light round-border mx-auto published shadow-cssmatic">
            <br>
            <div class="form-row mx-3">
                <div class="form-group col-6 text-left">
                    <p><span class="text-bold">Title: </span><span>{{ announcement.title }}</span></p>
                </div>
                <div class="form-group col-6 text-right">
                    <p><span class="text-bold">Tutor: </span><span>{{ announcement.user }}</span></p>
                </div>
            </div>
            <div class="form-row mx-3">
                <div class="form-group">
                    <p class="text-justify"><span class="text-bold">Description: </span><span>{{ announcement.body }}</span></p>
                </div>
            </div>
            <div class="form-row mx-3">
                <div class="form-group col-6 text-left">
                    <p><span class="text-bold">Price/h: </span><span>${{ announcement.price }}</span></p>
                </div>
            </div>
            <div class="form-row mx-3">
                <div class="form-group col-6 text-left">
                    <p><span class="text-bold">Phone number: </span><span>{{ announcement.phone }}</span></p>
                    <p><span class="text-bold">e-mail: </span><span>{{ announcement.email }}</span></p>
                </div>
                <div class="form-group col-6 text-right">
                    <br>
                    {% if announcement.is_bookmarked %}
                        <p><span><i class="fa fa-bookmark fa-2x bookmark" data-id="{{ announcement.id }}" id="bookmark-{{ announcement.id }}"></i></span></p>
                        <input type="hidden" id="bookmark-status-{{ announcement.id }}" value="true">
                    {% else %}
                        <p><span><i class="fa fa-bookmark-o fa-2x bookmark" data-id="{{ announcement.id }}" id="bookmark-{{ announcement.id }}"></i></span></p>
                        <input type="hidden" id="bookmark-status-{{ announcement.id }}" value="false">
                    {% endif %} 
                </div>
            </div>
        </div>
        <br>
        {% empty %}
            <center><h3>There are no announcements of tutors yet</h3></center>
            <img src="{% static 'odeon/sketchglass.png' %}" style="max-width:400px">
            <p>You can create a new announcement <a href="/publish">here</a></p>
    {% endfor %}
    <div class="pagination">
        <nav aria-label="Page navigation example"></nav>
            <ul class="pagination" style="margin:auto">

                    {% if announcements.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ announcements.previous_page_number }}">previous</a></li>
                    {% endif %}

                    {% if announcements.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ announcements.next_page_number }}">next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ announcements.paginator.num_pages }}">last &raquo;</a></li>
                    {% endif %}  
                    
            </ul>
        </nav>
    </div>
{% endblock %}